<div class="row container">
  <div class="col-lg-5">
    <form [formGroup]="loginForm" (submit)="login()">
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username"  id="username" name="username" formControlName="username" [(ngModel)]="credentials.username">

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password" name="password" formControlName="password" [(ngModel)]="credentials.password">

        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>
  <div class="col-lg-7">
    <div class="imgcontainer">
      <img src="https://www.7boutik.com/images/cache/IMAGE_STOCK.500.jpg" alt="Avatar" class="avatar">
    </div>
  </div>
</div>
